.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.cart-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-from-cart-button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.remove-from-cart-button:hover {
    background-color: #c82333;
}